// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// 変数の定義
// max-width
$breakpoint-down: (
    'sm': 'screen and (max-width: 400px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1000px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

.pc {
    display: block;
    @include mq() {
        display: none;
    }
}

.phone {
    @include mq() {
        margin-top: 3px;
    }
}

.user-scroll-type-phone{
    overflow: scroll;
    height: calc(100vh - 55px);
}

.border-height, .chat-height{
    height: calc(100vh - 55px);
}

.container-position{
    margin-top: 56px;
}

.select-container-position{
    margin-top: 146px;
}

.card-container-position, .user-container-position, .chat-container-position{
    margin-top: 80px;
}

.text-position{
    text-align: center;
}

.message-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 14px;
    margin-bottom: 0px;
    height: calc(100vh - 202.5px);
    overflow: scroll;
    @include mq() {
        height: calc(100vh - 240.5px);
    }
}

img{
    width: 100%;
    height: auto;
}

li{
    list-style: none;
}